/*公共样式*/
body{
    font: 12px "Helvetica Neue", Helvetica, "Microsoft YaHei", "微软雅黑", tahoma, Arial, sans-serif;
    background: #f6f6f6;
    overflow-x: hidden;
}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dd,img,div{
    margin:0;
    padding:0;
    font-weight:normal;
    list-style:none;
}
div{
    margin:0 auto;
    box-sizing: border-box;
}
a {
    color: #222;
    text-decoration: none;
    display:block;
}
b,i,em {
    font-style: normal;
    font-weight: normal;
    display:block;
}
select,input,button,button,img,label,video{
    vertical-align:bottom;
}
.lf{
    float:left;
}
.rt{
    float:right;
}
.text-left{
    text-align:left;
}
.text-right{
    text-align:right;
}
.text-center{
    text-align: center;
}
.content-create:before{
    content:"";
    display:table;
}
.float-clear:after{
    content:"";
    clear:both;
    display:block;
}
input,button{
    outline: none;
    cursor: pointer;
}
