html,body{
    width:100%;
    min-height:100%;
}
body{
    background:url("../img/bg.png") no-repeat center bottom;
    background-size:contain;
}
#inner{
    width:433px;
    padding-top:70px;
}
#inner .logo{
    text-align: center;
}
#inner .form{
    width:100%;
    min-height:692px;
    background: url("../img/form-bg.png") no-repeat;
}
#inner .main{
    width:300px;
    color:#666;
    margin-left:92px;
    font-size: 15px;
    padding-top:40px;
}
#inner .main .form-group{
    height:90px;
}
#inner .main .form-group .vail{
    height:24px;
    line-height: 24px;
    font-size: 12px;
    display: inline-block;
    color:#ccc;
}
#inner .main .form-group .vail i{
    width:24px;
    height:24px;
    background: url("../img/vail.png");
    float: left;
}
#inner .main .form-group .vail i.success{
    background-position:-1px -3px;
}
#inner .main .form-group .vail i.fail{
    background-position:-36px -3px;
}
#inner .main .lcon ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#inner .main .lcon li{
    margin:0 10px;
    cursor: pointer;
}
#inner .main .lcon li img{
    width:50px;
    border-radius: 50%;
    border:3px solid transparent;
}
#inner .main .lcon li.active img{
    border:3px solid #000;
}
#inner .main .lcon li:hover img{
    border:3px solid #000;
}
#inner .main .label{
    display: block;
    margin-bottom:10px;
}
#inner .main input{
    padding: 5px 30px 5px 10px;
    width: 232px;
    line-height: 1.62;
    border: 1px solid #ccc;
    height: 24px;
}
#inner .main input.active{
    border:1px solid red;
}
#submit{
    width: 272px;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    margin-top:20px;
    cursor: pointer;
}
#inner .vail.animate{
    animation:shake .8s;
}
#inner .direction{
    text-align: right;
    padding-right:55px;
}
#inner .direction a{
    display: inline-block;
    color:#fea701;
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}